# Python
__pycache__/
*.py[cod]
*.pyc

# Environment
.env
venv/
.venv/

# MLflow
mlruns/

# DVC
.dvc/
dvc.lock

# Build
build/
dist/
*.egg-info/

# Dataset files
data/
datasets/
*.csv
*.parquet
*.zip

# Model artifacts
models/
checkpoints/
*.pt
*.pth
*.h5
*.ckpt
*.onnx
*.pkl
*.joblib

# Jupyter
.ipynb_checkpoints/

# Testing / coverage
.pytest_cache/
.coverage
htmlcov/

# Logs
*.log

# OS
.DS_Store
Thumbs.db